{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="max-w-screen-xl flex items-center justify-center m-auto">
        <div class="p-4 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt dui libero, ut placerat purus
            auctor
            at. Nam volutpat at ex nec iaculis. Aliquam congue aliquet tempor. Etiam consectetur, dui a eleifend
            placerat,
            felis nunc laoreet lacus, sit amet pulvinar justo massa ut nisl. Donec mattis est ac justo vulputate
            fringilla.
            In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac
            turpis egestas. Nullam volutpat lacus id molestie sagittis. Aenean sed massa luctus, luctus quam quis,
            tristique
            mi.

            Donec ultrices, urna non fringilla ornare, dui turpis efficitur libero, eget fringilla elit nibh quis
            ligula. In
            hac habitasse platea dictumst. Nunc sit amet lectus dignissim, porta urna ut, malesuada massa. Curabitur
            pretium
            lectus et sagittis ultrices. Pellentesque sed nulla urna. Donec ullamcorper sed lorem nec faucibus.
            Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce commodo nulla at
            justo
            faucibus convallis. Praesent facilisis viverra eros non eleifend.
        </div>
        <div class="p-4 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt dui libero, ut placerat purus
            auctor
            at. Nam volutpat at ex nec iaculis. Aliquam congue aliquet tempor. Etiam consectetur, dui a eleifend
            placerat,
            felis nunc laoreet lacus, sit amet pulvinar justo massa ut nisl. Donec mattis est ac justo vulputate
            fringilla.
            In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac
            turpis egestas. Nullam volutpat lacus id molestie sagittis. Aenean sed massa luctus, luctus quam quis,
            tristique
            mi.

            Donec ultrices, urna non fringilla ornare, dui turpis efficitur libero, eget fringilla elit nibh quis
            ligula. In
            hac habitasse platea dictumst. Nunc sit amet lectus dignissim, porta urna ut, malesuada massa. Curabitur
            pretium
            lectus et sagittis ultrices. Pellentesque sed nulla urna. Donec ullamcorper sed lorem nec faucibus.
            Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce commodo nulla at
            justo
            faucibus convallis. Praesent facilisis viverra eros non eleifend.
        </div>
    </div>

{% endblock content %}
