{% load static %}

<div id="about-me" class="flex flex-col mx-auto w-11/12 lg:flex-row relative my-8 shadow-2xl scroll-mt-24 dark:text-gray-100">
    <div class="py-10 px-6 md:px-12 lg:px-16 text-justify w-full bg-gray-100 rounded-t-md lg:rounded-l-md lg:rounded-tr-none dark:bg-zinc-700">
        <div>
            <h2 class="text-3xl font-extrabold mb-3">O mnie</h2>
            <hr class="h-px bg-yellow-600 bg-opacity-30 border-0 mb-3">
        </div>
        <div class="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia felis risus, eu finibus nisl rhoncus
                sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec blandit nunc. Curabitur iaculis ex
                ipsum, at porta magna pellentesque sit amet. Curabitur pellentesque nisl ut odio molestie, nec ornare
                est euismod. Donec ultrices risus eget pharetra lacinia. Maecenas ac lacus turpis. Aliquam egestas
                maximus elementum. Aenean molestie odio quis mollis blandit. Sed porttitor tincidunt risus sit amet
                ornare. Suspendisse lobortis purus lacus, vitae placerat eros vehicula at. Aenean vitae dui
                pellentesque, sagittis nisi id, dictum leo.
            </p>
            <br>
            <p>
                Integer elementum tempus bibendum. Suspendisse ornare, enim a pellentesque semper, lorem nisl congue
                dolor, eget varius risus mauris accumsan libero. Donec sit amet lacus vitae nulla varius lobortis at nec
                metus. Proin scelerisque eu tortor id pharetra. Curabitur molestie nibh sagittis leo sodales, a eleifend
                est volutpat. Morbi efficitur varius lorem ac vestibulum. Proin venenatis lorem ut sodales congue.
                Pellentesque dapibus congue pretium.
            </p>
            <br>
            <p>
                Sed posuere lorem nisl, ac volutpat mi hendrerit id. Aliquam non blandit tortor, a tincidunt augue.
                Phasellus blandit condimentum metus, vel consequat orci laoreet vel. Ut consequat velit vitae neque
                volutpat ornare. Quisque lacinia elit a lorem auctor euismod. Fusce accumsan velit vitae lectus ultrices
                posuere. Curabitur sed felis ac lectus ultrices efficitur in sit amet metus. Praesent nulla augue,
                interdum sed hendrerit vitae, efficitur eu mauris. Nunc volutpat nisi sed ultricies malesuada. Morbi
                tincidunt luctus enim vel blandit. Nam sapien quam, volutpat et lobortis vitae, tempor tristique purus.
                Nunc ut vehicula est. Vestibulum a commodo felis. Donec id porta dolor. Praesent ac ultricies nibh.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <br>
            <p>
                Integer at nunc tincidunt, efficitur nibh vel, ullamcorper est. Donec laoreet purus lacus, nec dictum
                nisi convallis non. Donec sit amet lacinia sapien. Nulla vel tellus eleifend, dignissim erat vel,
                pulvinar libero. Cras nec elementum erat. Donec ut elementum velit, nec lacinia eros. In tempus est
                ante, ut egestas erat fermentum sit amet. Fusce nisl ligula, bibendum at diam vel, imperdiet scelerisque
                nisi. Maecenas fringilla iaculis odio, ac cursus sem. Phasellus at lacinia felis.
            </p>
            <br>

        </div>

    </div>
    <div class="block lg:hidden ">
        <div class="w-full h-96 overflow-hidden bg-cover bg-top bg-[url('/static/img/img-about-me.jpg')]">         </div>
    </div>

    <div class="relative w-2/3 overflow-hidden bg-cover bg-center bg-[url('/static/img/img-about-me.jpg')]">
        <svg class="hidden lg:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12 dark:text-zinc-700"
             viewBox="0 0 100 100"
             preserveAspectRatio="none">
            <polygon points="50,0 100,0 50,100 0,100"/>
        </svg>
    </div>

</div>